:root {
  --pri-color: #005248;
  --light-color: #fff;
  --background-color: #f8d549;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.text-sec {
  color: var(--background-color) !important;
  text-shadow:
    3px 3px 2px var(--pri-color),
    -3px 3px 2px var(--pri-color),
    -3px -3px 0 var(--pri-color),
    3px -3px 0 var(--pri-color);
}

html {
  scroll-behavior: smooth !important;
}


/* Font */
@font-face {
  font-family: "TuskerGrotesk";
  src: url("fonts/TuskerGrotesk-6500Medium.otf");

  /* Add more font properties if needed, like font-weight, font-style, etc. */
}

body {
  font-family: "TuskerGrotesk", sans-serif !important;
  background-color: var(--background-color);
  color: var(--pri-color);
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: 0.4s;
}

.navbar-bg {
  border-bottom: solid .1px var(--pri-color);
  backdrop-filter: blur(7px);
  background-color: rgba(217, 186, 64, 0.4);
}


.logo {
  max-width: 50px;
}

.navbar-nav {
  background-color: var(--light-color) !important;
  border-radius: 79px;
  padding: 10px 20px;
}

.nav-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--pri-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.nav-link:hover {
  color: var(--background-color);
}

.whitepaper {
  background-color: var(--pri-color);
  color: var(--background-color);
  border-radius: 79px;
  padding: 16px 24px;
  min-width: 130.44px;
  max-height: 57px;
}

.whitepaper:hover {
  transform: scale(1.05);
}

.toggler {
  color: var(--pri-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner */
#banner {
  padding-top: 84px;
  padding-bottom: 44px;
  position: relative;
  background: url("/images/hero.jpeg") center center/cover no-repeat fixed;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner img {
  position: relative;
  z-index: 1;
}

#banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#f8d549, rgba(248, 213, 73, 0.7)); */
  background: linear-gradient(0.5turn, rgba(248, 213, 73, 0.3), #f8d549);
}

/* About */
#about {
  margin-top: 120px;
}

.about-img {
  max-width: 500px;
}

.about-text {
  text-transform: uppercase;
  text-align: center;
  color: var(--pri-color);
  font-size: 2.6rem;
  line-height: 1.5;
}

/* Social */
.socials {
  margin: auto;
  width: fit-content;
  margin-top: 50px;
}

.fa-brands {
  font-size: 2.2rem;
  background-color: var(--light-color);
  padding: 12px;
  margin-inline: 1rem;
  border-radius: 10px;
  color: var(--pri-color);
}

.dark-bg {
  border-radius: 1440px;
  background: #d9ba40;
  position: relative;
  margin-top: 5rem;
  padding-bottom: 100px;
}

/* Mission */
.mission-img {
  max-width: 400px;
  position: relative;
  height: 300px;

}

.mission-img img {
  position: absolute;
  top: -50px;
}

#mission {
  max-width: 1000px;
  margin-inline: auto;

}

.heading {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-block: 3rem;
}

.sub-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

#mission .action {
  max-width: 700px;
  margin-top: 70px;
  margin-inline: auto;
}

/* Marquee */
.marquee-img {
  width: 100%;
  margin-inline: 3rem;
  display: inline-block;
}

.marquee-img img {
  width: 250px;
}



/* Tokenomics */
#tokenomics {
  margin-top: 170px;
  position: relative;
}

.chart {
  max-width: 800px;
  margin-top: 50px;
  margin-inline: auto;
}

.token-img {
  position: absolute;
  right: 0;
  bottom: -250px;
  max-width: 400px;

}

.dice {
  max-width: 300px;
  bottom: -20%;
  right: 12%;
  position: absolute;
}

/* Roadmap */
#roadmap {
  margin-top: 200px;
}

#roadmap .heading {
  margin-bottom: 5rem;
}

.box {
  border: solid 2px var(--pri-color);
  padding: 20px;
  position: relative;
  background-color: var(--background-color);
  margin-bottom: 3rem;
}

.box::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: solid 2px var(--pri-color);
  top: 10px;
  right: -10px;
  z-index: -1;

}

.box .title {
  flex: 1;
  min-width: 103px;
}

.box ul {
  list-style: none;
  flex: 3;
}

.roadmap-img {
  max-width: 370px;
  margin-bottom: 3rem;
}

#how-to-buy {
  margin-top: 180px;
}

#how-to-buy h3 {
  flex: 1;
  min-width: initial;
}

#how-to-buy p {
  flex: 10;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  flex-wrap: wrap;
  margin: 120px auto 30px auto;
  padding: 10px;
}

.copy {
  width: 100%;
  max-width: 400px;
}

.footer .socials {
  margin: 0;
}

.footer .fa-brands {
  font-size: 1.3rem;
  padding: 7px;
  margin-inline: 10px;
}


.underline {
  color: var(--pri-color);
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .about-img {
    max-width: 300px;
  }

  .about-text {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .heading {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 20px;
  }

  .token-img {
    max-width: 240px !important;
    right: -4% !important;
  }

  .dice {
    bottom: -230px;
  }

  .footer {
    justify-content: center;
  }

  .navbar-nav {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .navbar-collapse {
    transition: 0.4s;
  }

  .whitepaper {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .whitepaper.nav-link {
    margin-left: 0 !important;
  }

  .whitepaper:hover {
    transform: scale(1);
    color: var(--light-color);
  }

}

@media (max-width: 992px) {
  .token-img {
    max-width: 350px;
    top: -300px;
    right: -12%;
  }
}

@media (max-width: 576px) {
  .token-img {
    position: static !important;
  }

  .address {
    max-width: 100%;
  }

  .token {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .address {
    max-width: 50%;
  }
}